@import '/styles/conf';

.Button {
  cursor: pointer;
  border: none;
  outline: none;
  background: $color-orange;
  padding: 15px;
  border-radius: 30px;
  color: $color-white;
  font-family: $font-base-family;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(20 / 14);
  transition: $transition-time $transition-ease;

  @media (min-width: $media768) {
    font-size: 16px;
    padding: 15px 25px;
  }
}
