@import '/styles/_conf.scss';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $media500) {
    flex-direction: row;
    align-items: center;
  }

  img {
    display: block;
    margin-bottom: 5px;

    @media (min-width: 500px) {
      margin: 0 15px 0;
    }
  }
}

.LogoText {
  h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: #7b7b7b;
    max-width: 150px;

    @media (min-width: $media500) {
      font-size: 16px;
    }

    @media (min-width: $media768) {
      max-width: 100%;
    }
  }
}
