@import '/styles/_conf.scss';

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media (min-width: $media500) {
    flex-direction: row;
    align-items: center;
  }

  img {
    display: block;
    margin-bottom: 5px;

    @media (min-width: 500px) {
      margin: 0 15px 0;
    }
  }
}

.LogoText {
  h1 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: #7b7b7b;
    max-width: 150px;

    @media (min-width: $media500) {
      font-size: 16px;
    }

    @media (min-width: $media768) {
      max-width: 100%;
    }
  }
}

.Button {
  display: flex;
  align-items: center;
}

.ButtonPrice {
  display: block;
  position: relative;
  padding-right: 7px;

  @media (min-width: $media500) {
    padding-right: 14px;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 25px;
    top: -5px;
    right: 0;
    background: rgba(255, 255, 255, 0.25);
  }
}

.ButtonMount {
  display: flex;
  align-items: center;
  padding-left: 7px;

  @media (min-width: $media500) {
    padding-left: 14px;
  }

  svg {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
}
