@import '/styles/conf';
.Categories {
  margin-bottom: 20px;

  @media (min-width: $media1200) {
    margin: 0;
  }
}

.List {
  display: flex;
  flex-wrap: wrap;
}

.Item {
  cursor: pointer;
  padding: 15px;
  border-radius: 30px;
  background: #f9f9f9;
  color: $color-black;
  font-weight: 700;
  margin-bottom: 10px;
  transition: $transition-time $transition-ease;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background: rgba($color: $color-black, $alpha: 0.8);
    color: rgba($color: $color-white, $alpha: 0.8);
  }

  @media (min-width: $media500) {
    padding: 15px 25px;
  }

  // @media (min-width: $media768) {
  //   margin-bottom: 0;
  // }
}

.ItemActive {
  background: $color-black;
  color: $color-white;
}
