@import '/styles/conf';

.Title {
  margin-bottom: 35px;
}

.List {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: 580px) {
    padding: 0 -5px;
  }

  @media (min-width: $media600) {
    justify-content: space-between;
  }
}
