@import './conf';

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('/fonts/ProximaNova-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('/fonts/ProximaNova-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('/fonts/ProximaNova-Extrabld.woff2') format('woff');
  font-weight: 800;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-base-family;
  line-height: calc(20 / 16);
  margin: 0;
  padding: 0;
  background: #ffdf8c;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: calc(30 / 32);
  font-weight: 700;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
