@import '/styles/conf';

.ContainerHeader {
  border-bottom: 1px solid #f7f7f7;
}

.Button {
  display: flex;
}

.ButtonPrice {
  display: block;
  position: relative;
  padding-right: 7px;

  @media (min-width: $media500) {
    padding-right: 14px;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 25px;
    top: -5px;
    right: 0;
    background: rgba(255, 255, 255, 0.25);
  }
}

.ButtonMount {
  display: flex;
  align-items: center;
  padding-left: 7px;

  @media (min-width: $media500) {
    padding-left: 14px;
  }

  img {
    width: 14px;
    height: 14px;
    margin-right: 6px;
  }
}
