@import '/styles/conf';

.ControlBar {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $media1200) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.Header {
  flex-direction: column;
  align-items: flex-start;
  position: relative;

  @media (min-width: $media500) {
    align-items: center;
  }

  @media (min-width: 850px) {
    flex-direction: row;
    align-items: center;
  }
}

.ErrorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;

  h1 {
    margin-bottom: 20px;
  }
}
